<%= link_to("<<Back to List", {:action => 'list'} )%>


	
<div>
	<h2>Update Student</h2>
	
	<%= form_for(:students, :url => {:action => 'update'},:id=> @student.id) do |f| %>
	<table >
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name)%></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><%= f.text_field(:username)%></td>
		</tr>
		<tr>
			<th>password</th>
			<td><%= f.text_field(:password)%></td>
		</tr>
		<tr>
			<th>Class</th>
			<td><%= f.text_field(:class)%></td>
		</tr>
		<tr>
			<th>Section</th>
			<td><%= f.text_field(:section)%></td>
		</tr>
		<tr>
			<th>Email Id</th>
			<td><%= f.text_field(:email)%></td>
		</tr>
		<tr>
			<th>Mobile No.</th>
			<td><%= f.text_field(:mobile)%></td>
		</tr>
		
		</table>
		<div >
			<%= submit_tag("Update Student")%>
		</div>
	
	<% end %>
</div>

