<%@page_title="Edit" %>
<%= link_to("<<Back to List", {:action => 'list'} )%>


	
<div>
	<% if @student && @student.errors.size > 0 %>
    <div>
        <h6><%= pluralize(@student.errors.size, "error") %> 
        prohibited this record from being saved</h6>
        <p>There were problems with the following fields:</p>
        <% @student.errors.full_messages.each do |msg| %>
            <%= msg %><br />
        <% end %>
        </div>
     <% end %>
     
	<h2 class="leftmargin">Update Student</h2>
	<br />
	
	<%= form_for(:student, :url => {:action => 'update',:id=> @student.id}) do |f| %>
	<div class="leftmargin">
	<%= render(:partial => "form", :locals =>{:f => f}) %>
	</div>
	<br />
		<div class="leftmargin"> 
			<%= submit_tag("Update Student")%>
		</div>
	
	<% end %>
</div>

