<%@page_title="list" %>
<div>
	
<h2 class="leftmargin">Students:</h2>


<br />
<div class="leftmargin">
<table   border="1">
	<tr bgcolor= #FFFFFF class="center">
		<th class="center">Name</th>
		<th class="center">Username</th>
		<th class="center">Class</th>
		<th class="center">Section</th>
		<th class="center">Email Id</th>
		<th class="center">Mobile No.</th>
		<th class="center">Actions</th>
		
	</tr>
	<% @student.each do |student|%>
	<tr>
		<td><%= student.name%></td>
		<td><%= student.username%></td>
		<td><%= student.std%></td>
		<td><%= student.section%></td>
		<td><%= student.email%></td>
		<td><%= student.mobile%></td>
		<td>
			<%= link_to("Show",{:action => 'show', :id => student.id})%>
			<%= link_to("Edit",{:action => 'edit', :id => student.id})%>
			<%= link_to("Delete",{:action => 'delete', :id => student.id})%>
		</td>
	</tr>
	<% end %>
</table>
</div>
<br />
<br />
<div class="center" class="rightmargin">
<%= link_to("Add new student", {:action => 'new'} )%>
</div>

</div>