<%@page_title="New" %>

<%= link_to("<<Back to List", {:action => 'list'} ,:class => 'back-link')%>


	
<div class="leftmargin">
	<% if @student && @student.errors.size > 0 %>
    <div>
        <h6><%= pluralize(@student.errors.size, "error") %> 
        prohibited this record from being saved</h6>
        <p>There were problems with the following fields:</p>
        <% @student.errors.full_messages.each do |msg| %>
            <%= msg %><br />
        <% end %>
         </div>
     <% end %>
      
	<h2 class="leftmargin">Create Student</h2>
	<br />
	<div class="leftmargin">
	<%= form_for(:student, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => "form", :locals =>{:f => f})%>
	</div>
	<br />
		<div class="leftmargin">
			<%= submit_tag("Create Student")%>
		</div>
	
	<% end %>
</div>

