<%@page_title="Show" %>

<%= link_to("<<Back to list", {:action => 'list'})%>
	<div class="leftmargin">
		<h2 class="leftmargin">Show Student</h2>
		<br />
		<table class="leftmargin" border="1">
			<tr>
				<th class="center">Name</th>
				<td><%= @student.name %></td>
			</tr>
			<tr>
				<th class="center">Username</th>
				<td><%= @student.username %></td>
			</tr>
			<tr>
				<th class="center">Class</th>
				<td><%= @student.std %></td>
			</tr>
			<tr>
				<th class="center">Section</th>
				<td><%= @student.section%></td>
			</tr>
			<tr>
				<th class="center">Email Id</th>
				<td><%= @student.email%></td>
			</tr>
			<tr>
				<th class="center">Mobile No.</th>
				<td><%= @student.mobile %></td>
			</tr>
			<tr>
				<th class="center">Created</th>
				<td><%= @student.created_at %></td>
			</tr>
			<tr>
				<th class="center">Upadated</th>
				<td><%= @student.updated_at %></td>
			</tr>
		</table>
	</div>
